.landing-bg-gh.text-align-center
	h1.landing-h1
		span X-Formation public repositories
.container-wrap
	.grid-wrap
		git-hub-grid
	.text-align-center
		a.navigation-btn(ui-sref='top_contributors') Top contributors
