.landing-bg-main.text-align-center
	h1.landing-h1
		span Recruitment test
			br
			| Iryna Samoila

.container-wrap
	.container-header-green
		.header-green Statistics about X-Formation public repositories and top contributors

	.text-align-center
		a.header(ui-sref='git_hub') X-Formation public repositories
	git-hub-grid

	.text-align-center
		a.header(ui-sref='top_contributors') Top contributors
	contributors-grid

