.landing-bg-tc.text-align-center
	h1.landing-h1
		span Top contributors
.container-wrap
	.grid-wrap
		contributors-grid
	.text-align-center
		a.navigation-btn(ui-sref='git_hub') X-Formation public repositories